<p>
  <em>Note that you must add localhost:4200 (or whatever port angular is running on) to your IPFS CORS:</em><br>
  <code>ipfs config --json API.HTTPHeaders.Access-Control-Allow-Origin '["http://localhost:4200"]'</code><br>
  <code>ipfs config --json API.HTTPHeaders.Access-Control-Allow-Methods '["PUT", "GET", "POST"]'</code><br>
</p>

<h3>
  Connect<br>
  <sub>
    These values are from your Provide network or dapp. You should first add your IPFS node as a connector in Provide, before using this form.
  </sub>
</h3>

<input #apiToken placeholder="API Token" /><br>

<input #networkId placeholder="Network ID" /><br>

<input #dappId placeholder="Application ID (optional)" /><br>

<button (click)="onConnect(apiToken.value, networkId.value, dappId.value)">Connect</button><br><br>

<div *ngIf="gatewayPath || apiPath">
  Connected to IPFS with<br>
  Gateway at {{ gatewayPath }}<br>
  and API at {{ apiPath }}
</div>

<h3>Text File Creation Example</h3>

<input #fileName placeholder="File name to store in IPFS" /><br>

<input #fileContent placeholder="File content to store in IPFS" /><br>

<button (click)="onAdd(fileName.value, fileContent.value)">Add</button><br><br>

<input #fileHash placeholder="File hash in IPFS" [value]="hash || ''"/><br>

<button (click)="onCat(fileHash.value)">Cat</button>

<p *ngIf="!!content">Content: {{ content }}</p>

<h3>File Upload Example</h3>

<div>
  <form id='captureMedia' (submit)="onSubmit($event)">
    <input type='file' (change)="onCaptureFile($event)" /><br/>
    <label>{{ uploadProgress }}</label>
  </form>
  <div *ngIf="gatewayPath && uploadedHash">
    <a target="_blank"
       [href]="gatewayPath + uploadedHash"
    >
      Download {{ uploadedHash }}
    </a>
  </div>
</div>

<p *ngIf="!!error" [style.color]="'red'">{{ error }}</p>
